/* line 4, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: 'Traveler';
  src: url("../fonts/traveller.eot");
  src: url("../fonts/traveller.eot?#iefix") format("embedded-opentype"), url("../fonts/traveller.woff") format("woff"), url("../fonts/traveller.ttf") format("truetype"), url("../fonts/traveller.svg#travelermedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mission Script';
  src: url("../fonts/mission-script.eot");
  src: url("../fonts/mission-script.eot?#iefix") format("embedded-opentype"), url("../fonts/mission-script.woff") format("woff"), url("../fonts/mission-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alternate Gothic';
  src: url("../fonts/alternate.eot");
  src: url("../fonts/alternate.eot?#iefix") format("embedded-opentype"), url("../fonts/alternate.woff") format("woff"), url("../fonts/alternate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 53, ../../sass/_variables.scss */
.label-icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;
  display: block;
}
/* line 59, ../../sass/_variables.scss */
.no-svg .label-icon {
  background-image: url("../img/sprite.png");
}

/* line 2, ../../sass/_layout.scss */
#site-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 12, ../../sass/_layout.scss */
#site {
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

/* line 19, ../../sass/_layout.scss */
.container {
  clear: both;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 92%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 28, ../../sass/_layout.scss */
.container-small {
  width: 55%;
}
@media only screen and (max-width: 64em) {
  /* line 28, ../../sass/_layout.scss */
  .container-small {
    width: 80%;
  }
}

/* line 38, ../../sass/_layout.scss */
.column-container {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.column-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 42, ../../sass/_layout.scss */
.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2em;
}
/* line 46, ../../sass/_layout.scss */
.column:last-child {
  float: right;
}
/* line 50, ../../sass/_layout.scss */
.column:first-child {
  float: left !important;
}

@media only all and (min-width: 53em) {
  /* line 56, ../../sass/_layout.scss */
  .span-one-column {
    float: left;
  }
  /* line 59, ../../sass/_layout.scss */
  .has-four-columns .span-one-column {
    width: 25%;
  }
  /* line 63, ../../sass/_layout.scss */
  .has-three-columns .span-one-column {
    width: 33%;
  }
  /* line 67, ../../sass/_layout.scss */
  .has-two-columns .span-one-column {
    width: 50%;
  }

  /* line 72, ../../sass/_layout.scss */
  .span-two-columns {
    float: left;
  }
  /* line 75, ../../sass/_layout.scss */
  .has-four-columns .span-two-columns {
    width: 50%;
  }
  /* line 79, ../../sass/_layout.scss */
  .has-three-columns .span-two-columns {
    width: 66%;
  }

  /* line 86, ../../sass/_layout.scss */
  .has-four-columns .span-three-columns {
    width: 75%;
  }
  /* line 90, ../../sass/_layout.scss */
  .has-three-columns .span-three-columns {
    width: 100%;
  }
}
/* line 1, ../../sass/_base.scss */
html {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 7, ../../sass/_base.scss */
body {
  background-color: #ecedde;
  font-family: "Traveler";
  height: 100%;
}

@media only all and (max-width: 48em) {
  /* line 14, ../../sass/_base.scss */
  body {
    font-size: 81.25%;
  }
}
/* line 21, ../../sass/_base.scss */
.orange {
  background-color: #ef691d;
  color: #ecedde;
}

/* line 26, ../../sass/_base.scss */
.full-screen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  padding-top: 4.375em;
  position: relative;
  width: 100%;
}

/* line 36, ../../sass/_base.scss */
.gradient-background {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 65, color-stop(0%, rgba(247, 110, 31, 0.5)), color-stop(65%, rgba(247, 110, 31, 0))), url("../img/body-pattern.png"), #ef691d;
  background: -webkit-radial-gradient(rgba(247, 110, 31, 0.5), rgba(247, 110, 31, 0) 65%), url("../img/body-pattern.png"), #ef691d;
  background: -moz-radial-gradient(rgba(247, 110, 31, 0.5), rgba(247, 110, 31, 0) 65%), url("../img/body-pattern.png"), #ef691d;
  background: -o-radial-gradient(rgba(247, 110, 31, 0.5), rgba(247, 110, 31, 0) 65%), url("../img/body-pattern.png"), #ef691d;
  background: radial-gradient(rgba(247, 110, 31, 0.5), rgba(247, 110, 31, 0) 65%), url("../img/body-pattern.png"), #ef691d;
}

/* line 40, ../../sass/_base.scss */
.blurry-background {
  background-color: #ef691d;
  padding-top: 4.375em;
}
@media only all and (min-width: 64em) {
  /* line 40, ../../sass/_base.scss */
  .blurry-background {
    background-image: url("../img/blurry-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }
}

/* line 53, ../../sass/_base.scss */
p {
  color: inherit;
  font-family: "Traveler";
  font-size: 0.9735em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  margin-bottom: 1em;
}

/* line 60, ../../sass/_base.scss */
select.form-element, input[type="text"].form-element, input[type=text], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ecedde;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #2d353a;
  font-family: "Alternate Gothic";
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
/* line 71, ../../sass/_base.scss */
input[type="text"].form-element:focus, input[type=text]:focus, select:focus {
  outline: none;
  outline: none;
}

/* line 77, ../../sass/_base.scss */
label {
  display: none;
}

/* line 81, ../../sass/_base.scss */
.label-icon-container {
  position: relative;
  padding-bottom: .5em;
}

/* line 86, ../../sass/_base.scss */
.label-icon {
  background-color: #2d353a;
  border-radius: 1.6em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  height: 3em;
  width: 3em;
  position: absolute;
  top: -0.2em;
  right: 3em;
  z-index: 99;
}

/* line 100, ../../sass/_base.scss */
.label-icon-dropdown {
  background-position: -55px -172px;
}

/* line 104, ../../sass/_base.scss */
.label-icon-search {
  background-position: -95px -172px;
}

/* line 108, ../../sass/_base.scss */
select.form-element {
  cursor: pointer;
  height: 1.85em;
  padding: .4em 2em .5em .4em;
  position: relative;
  top: .1em;
  z-index: 9;
}
/* line 117, ../../sass/_base.scss */
select.form-element option {
  text-transform: capitalize;
}

/* line 125, ../../sass/_base.scss */
input[type="text"].form-element {
  letter-spacing: .05em;
  padding: .45em 1em .25em;
}
/* line 130, ../../sass/_base.scss */
input[type="text"].form-element::after {
  position: absolute;
  top: -1em;
  right: -1em;
  z-index: 999;
}

/* line 138, ../../sass/_base.scss */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ef691d;
  -webkit-box-shadow: 0 0.1em 0 #be3d0a;
  -moz-box-shadow: 0 0.1em 0 #be3d0a;
  box-shadow: 0 0.1em 0 #be3d0a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: .3em;
  cursor: pointer;
  display: block;
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: normal;
  padding: .3em;
  text-align: center;
  text-decoration: none;
  text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto .5em;
  -webkit-font-smoothing: antialiased;
  width: 90%;
}

/* line 158, ../../sass/_base.scss */
.button-confirm {
  background-color: #b7b700;
  -webkit-box-shadow: 0 0.1em 0 #9d9e00;
  -moz-box-shadow: 0 0.1em 0 #9d9e00;
  box-shadow: 0 0.1em 0 #9d9e00;
  margin: 0 auto;
}

/* line 166, ../../sass/_base.scss */
.prefixed-link {
  color: #ef691d;
  text-decoration: none;
  -webkit-transition: color 220ms ease-in-out;
  -moz-transition: color 220ms ease-in-out;
  -o-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out;
}
/* line 171, ../../sass/_base.scss */
.prefixed-link:hover {
  color: #f2894d;
}

/* line 176, ../../sass/_base.scss */
.circle-picture {
  background-position: center center;
  border: .3em solid white;
  border-radius: 1.5em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 2.5em;
  width: 2.5em;
}
/* line 184, ../../sass/_base.scss */
.circle-picture.tatiana {
  background: url("../img/tatiana.jpg");
  background-size: 100%;
}
/* line 188, ../../sass/_base.scss */
.circle-picture.pieter {
  background: url("../img/pieter.jpg");
  background-size: 100%;
}
/* line 192, ../../sass/_base.scss */
.circle-picture.thomas {
  background: url("../img/thomas.jpg");
  background-size: 100%;
}

/* line 198, ../../sass/_base.scss */
.hide-mobile {
  display: none;
}

/* line 202, ../../sass/_base.scss */
.hide {
  display: none;
}

@media only all and (min-width: 64em) {
  /* line 207, ../../sass/_base.scss */
  .hide-mobile {
    display: block;
  }
}
/* line 1, ../../sass/admin/_base-admin.scss */
#content {
  min-height: 590px;
  padding-top: 130px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 110px;
}

/* line 9, ../../sass/admin/_base-admin.scss */
h1 {
  font-family: 'Mission-Script';
  color: #1e2328;
  font-size: 2.5em;
}

/* line 15, ../../sass/admin/_base-admin.scss */
.big-button-orange {
  font-size: 1.5em;
  background: #ef691d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  width: 266px;
  display: block;
  text-align: center;
  height: 1.9em;
  line-height: 2em;
  font-family: 'Alternate Gothic';
  text-transform: uppercase;
  color: #ecedde;
  text-decoration: none;
  -webkit-box-shadow: #ef4c0c 0 4px 0;
  -moz-box-shadow: #ef4c0c 0 4px 0;
  box-shadow: #ef4c0c 0 4px 0;
}
/* line 30, ../../sass/admin/_base-admin.scss */
.big-button-orange:active {
  margin-top: 2px;
  -webkit-box-shadow: #ef4c0c 0 2px 0;
  -moz-box-shadow: #ef4c0c 0 2px 0;
  box-shadow: #ef4c0c 0 2px 0;
}
/* line 35, ../../sass/admin/_base-admin.scss */
.big-button-orange.disabled {
  background: #c6c6c6;
  -webkit-box-shadow: #aaaaaa 0 4px 0;
  -moz-box-shadow: #aaaaaa 0 4px 0;
  box-shadow: #aaaaaa 0 4px 0;
}
/* line 39, ../../sass/admin/_base-admin.scss */
.big-button-orange.disabled:active {
  margin-top: 0px;
  -webkit-box-shadow: #aaaaaa 0 4px 0;
  -moz-box-shadow: #aaaaaa 0 4px 0;
  box-shadow: #aaaaaa 0 4px 0;
  cursor: pointer;
}

/* line 47, ../../sass/admin/_base-admin.scss */
.utility-button {
  color: #ecedde;
  background: #34383d;
  -webkit-box-shadow: #1e2328 0 4px 0;
  -moz-box-shadow: #1e2328 0 4px 0;
  box-shadow: #1e2328 0 4px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 59, ../../sass/admin/_base-admin.scss */
.utility-button span {
  position: relative;
  font-size: 2em;
  display: inline-block;
  top: 3px;
}
/* line 66, ../../sass/admin/_base-admin.scss */
.utility-button:hover {
  background: #3f4448;
}
/* line 70, ../../sass/admin/_base-admin.scss */
.utility-button:active {
  margin-top: 2px;
  -webkit-box-shadow: #1e2328 0 2px 0;
  -moz-box-shadow: #1e2328 0 2px 0;
  box-shadow: #1e2328 0 2px 0;
}

/* line 76, ../../sass/admin/_base-admin.scss */
.column {
  padding-right: 0em;
}

/* line 80, ../../sass/admin/_base-admin.scss */
.entypo {
  font-family: 'EntypoRegular';
}

/* line 84, ../../sass/admin/_base-admin.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 96, ../../sass/admin/_base-admin.scss */
.container {
  height: 100% !important;
}

/* line 100, ../../sass/admin/_base-admin.scss */
.flashFailure, .flashSuccess {
  margin-top: 30px;
  height: 2.5em;
  background: #cbcbcb;
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 107, ../../sass/admin/_base-admin.scss */
.flashFailure p, .flashSuccess p {
  width: 100%;
  text-align: center;
  color: #ecedde;
  font-family: "Traveler";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  line-height: 2.3em;
  color: #1e2328;
}

/* line 116, ../../sass/admin/_base-admin.scss */
.hide {
  display: none;
}

/* line 1, ../../sass/admin/modules/_site-header.scss */
.site-header {
  background-color: #ef691d;
  box-shadow: 0 0.4em 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.7em;
  width: 100%;
  z-index: 999;
}

/* line 14, ../../sass/admin/modules/_site-header.scss */
.circle-logo {
  background-image: url("../../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 58px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  top: 0.3em;
  width: 79px;
}

/* line 26, ../../sass/admin/modules/_site-header.scss */
.horizontal-nav {
  color: #2d353a;
  font-family: "Alternate Gothic";
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  width: 620px;
  padding-left: 4em;
}
/* line 30, ../../sass/admin/modules/_site-header.scss */
.horizontal-nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 34, ../../sass/admin/modules/_site-header.scss */
.horizontal-nav li.active a {
  color: #992a07;
}

/* line 44, ../../sass/admin/modules/_site-header.scss */
.nav-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #ecedde;
  padding: .9em 1.2em;
  text-decoration: none;
  -webkit-transition: color 220ms ease-in-out;
  -moz-transition: color 220ms ease-in-out;
  -o-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out;
}
/* line 51, ../../sass/admin/modules/_site-header.scss */
.nav-item:hover {
  color: white;
}

/* line 56, ../../sass/admin/modules/_site-header.scss */
#user {
  position: absolute;
  right: 0;
  top: 12px;
}
/* line 60, ../../sass/admin/modules/_site-header.scss */
#user img {
  width: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 5px solid #ecedde;
  float: right;
}
/* line 66, ../../sass/admin/modules/_site-header.scss */
#user p {
  float: left;
  text-align: right;
  padding-right: 0.8em;
  line-height: 1.1em;
  padding-top: 0.55em;
}
/* line 72, ../../sass/admin/modules/_site-header.scss */
#user p a {
  display: block;
  text-decoration: none;
  color: #ecedde;
  font-style: italic;
  font-size: 0.9em;
}

/* line 1, ../../sass/admin/modules/_site-stats.scss */
#stats {
  background: #1e2328;
  display: block;
  height: 12em;
  position: relative;
}
@media only screen and (max-width: 53em) {
  /* line 1, ../../sass/admin/modules/_site-stats.scss */
  #stats {
    height: 500px;
  }
}
@media only screen and (max-width: 48em) {
  /* line 1, ../../sass/admin/modules/_site-stats.scss */
  #stats {
    height: 400px;
  }
}
/* line 17, ../../sass/admin/modules/_site-stats.scss */
#stats:before {
  width: 140px;
  height: 140px;
  display: block;
  content: "";
  background: url(../../img/stats.png) no-repeat center 40px #1e2328;
  top: -65px;
  left: 50%;
  position: absolute;
  margin-left: -70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
}

/* line 31, ../../sass/admin/modules/_site-stats.scss */
.column {
  padding-top: 5em;
  text-align: center;
}
/* line 34, ../../sass/admin/modules/_site-stats.scss */
.column h2 {
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 1.7em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
}
/* line 37, ../../sass/admin/modules/_site-stats.scss */
.column span {
  color: #323b3f;
  font-family: "Traveler";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  line-height: 2em;
}
@media only screen and (max-width: 53em) {
  /* line 42, ../../sass/admin/modules/_site-stats.scss */
  .column:last-child {
    float: none;
  }
}

/* line 1, ../../sass/admin/modules/_site-footer.scss */
footer {
  background-color: #ef691d;
  height: 3em;
}
/* line 5, ../../sass/admin/modules/_site-footer.scss */
footer div.half {
  width: 50%;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../../sass/admin/modules/_site-footer.scss */
footer div.half p {
  padding-top: 1.3em;
  line-height: 0.5em;
  color: white;
}
/* line 16, ../../sass/admin/modules/_site-footer.scss */
footer div.half:last-child {
  text-align: right;
}

/* line 1, ../../sass/admin/modules/_scan.scss */
#qr-canvas {
  display: none;
}

/* line 5, ../../sass/admin/modules/_scan.scss */
#scan {
  width: 561px;
  float: left;
  margin-right: 63px;
  margin-top: 30px;
}

/* line 12, ../../sass/admin/modules/_scan.scss */
#scan-log {
  width: 400px;
  float: left;
  height: 300px;
  display: block;
  margin-top: 30px;
}
/* line 19, ../../sass/admin/modules/_scan.scss */
#scan-log ul {
  list-style: none;
}
/* line 22, ../../sass/admin/modules/_scan.scss */
#scan-log ul li {
  padding-bottom: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translate(10px, 0px);
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -o-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 31, ../../sass/admin/modules/_scan.scss */
#scan-log ul li:first-child {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 36, ../../sass/admin/modules/_scan.scss */
#scan-log ul li span.timeago {
  line-height: 1em;
  display: block;
  color: #919086;
  font-style: italic;
  font-size: 0.9em;
}
/* line 44, ../../sass/admin/modules/_scan.scss */
#scan-log ul li.error {
  color: #ef691d;
}
/* line 47, ../../sass/admin/modules/_scan.scss */
#scan-log ul li.error span.timeago {
  color: #919086;
}
/* line 52, ../../sass/admin/modules/_scan.scss */
#scan-log ul li.inserted {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 57, ../../sass/admin/modules/_scan.scss */
#scan-log ul li.go-away {
  -webkit-transform: translate(0px, 10px);
  -moz-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -o-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 65, ../../sass/admin/modules/_scan.scss */
#startCam {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 70, ../../sass/admin/modules/_scan.scss */
#startCam.fadeAway {
  -webkit-transform: translate(80px, 0px);
  -moz-transform: translate(80px, 0px);
  -ms-transform: translate(80px, 0px);
  -o-transform: translate(80px, 0px);
  transform: translate(80px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 75, ../../sass/admin/modules/_scan.scss */
#startCam span {
  font-family: 'EntypoRegular';
  font-size: 1.5em;
}

/* line 81, ../../sass/admin/modules/_scan.scss */
#outdiv {
  border: 6px solid #fff;
  height: 421px;
  width: 100%;
}
/* line 86, ../../sass/admin/modules/_scan.scss */
#outdiv #v {
  width: 100%;
}

/* line 1, ../../sass/admin/modules/_tables.scss */
table.style {
  margin-top: 30px;
  width: 100%;
  border-collapse: separate;
}
/* line 5, ../../sass/admin/modules/_tables.scss */
table.style tr:first-child th:first-child {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
/* line 6, ../../sass/admin/modules/_tables.scss */
table.style tr:first-child th:last-child {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 8, ../../sass/admin/modules/_tables.scss */
table.style thead {
  padding: 20px;
  background: #ef691d;
}
/* line 14, ../../sass/admin/modules/_tables.scss */
table.style thead tr th {
  padding: 10px;
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
}
/* line 17, ../../sass/admin/modules/_tables.scss */
table.style thead tr th a {
  color: #ecedde;
  text-decoration: none;
}
/* line 21, ../../sass/admin/modules/_tables.scss */
table.style thead tr th a:hover {
  text-decoration: underline;
}
/* line 26, ../../sass/admin/modules/_tables.scss */
table.style thead tr th:first-child {
  padding-left: 20px;
}
/* line 36, ../../sass/admin/modules/_tables.scss */
table.style tbody tr:nth-child(odd) {
  background: #ef4c0b;
}
/* line 40, ../../sass/admin/modules/_tables.scss */
table.style tbody tr:nth-child(even) {
  background: #f25a29;
}
/* line 44, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td {
  padding: 10px;
  color: #ecedde;
}
/* line 48, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td:first-child {
  padding-left: 20px;
  color: #992a07;
}
/* line 53, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td:nth-child(3), table.style tbody tr td:nth-child(4) {
  color: #992a07;
}
/* line 58, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td.actions a {
  text-decoration: none;
  line-height: 0.3em;
  color: #ecedde;
}
/* line 63, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td.actions a:first-child {
  font-size: 2.0em;
  padding-right: 10px;
}
/* line 68, ../../sass/admin/modules/_tables.scss */
table.style tbody tr td.actions a:last-child {
  font-size: 2.2em;
}

/* line 83, ../../sass/admin/modules/_tables.scss */
#tfoot {
  background: #1e2328;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../../sass/admin/modules/_tables.scss */
#tfoot div {
  color: #ecedde;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 94, ../../sass/admin/modules/_tables.scss */
#tfoot div:first-child {
  width: 3%;
  padding-left: 2%;
  float: left;
  background: #34383d;
}
/* line 101, ../../sass/admin/modules/_tables.scss */
#tfoot div:nth-child(2) {
  width: 90%;
  float: left;
  text-align: center;
}
/* line 107, ../../sass/admin/modules/_tables.scss */
#tfoot div:last-child {
  width: 3%;
  padding-right: 2%;
  float: left;
  background: #34383d;
  text-align: right;
}
/* line 117, ../../sass/admin/modules/_tables.scss */
#tfoot span.prev, #tfoot span.next {
  font-family: 'EntypoRegular';
  font-size: 2em;
  line-height: 0.3em;
  position: relative;
  top: 2px;
}
/* line 124, ../../sass/admin/modules/_tables.scss */
#tfoot span.prev.disabled, #tfoot span.next.disabled {
  color: #1e2328;
}
/* line 128, ../../sass/admin/modules/_tables.scss */
#tfoot span.prev a, #tfoot span.next a {
  width: 100%;
  text-align: center;
  font-family: 'EntypoRegular';
  text-decoration: none;
  color: #ecedde;
}

/* line 138, ../../sass/admin/modules/_tables.scss */
#addEvent {
  float: right;
}

/* line 1, ../../sass/admin/modules/_forms.scss */
form {
  margin-top: 30px;
}

/* line 5, ../../sass/admin/modules/_forms.scss */
label {
  display: none;
}

/* line 9, ../../sass/admin/modules/_forms.scss */
select.form-element, input[type="text"].form-element, input[type=text], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* line 15, ../../sass/admin/modules/_forms.scss */
input[type="text"].form-element:focus, input[type=text]:focus, select:focus {
  outline: none;
}

/* line 20, ../../sass/admin/modules/_forms.scss */
input[type=text], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 2%;
  background: white;
  color: #1e2328;
  font-family: "Traveler";
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  margin-bottom: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
/* line 2, ../../sass/admin/_mixins.scss */
input[type=text].placeholder, select.placeholder {
  color: #bcbdb1;
  font-family: "Traveler";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
}
/* line 5, ../../sass/admin/_mixins.scss */
input[type=text]:-moz-placeholder, select:-moz-placeholder {
  color: #bcbdb1;
  font-family: "Traveler";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
}
/* line 8, ../../sass/admin/_mixins.scss */
input[type=text]::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #bcbdb1;
  font-family: "Traveler";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
}

/* line 33, ../../sass/admin/modules/_forms.scss */
input[type=submit] {
  margin-left: -1px;
  color: #ecedde;
  font-family: "Traveler";
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  border: none;
  background: #f07833;
  -webkit-box-shadow: #ef691d 0 4px 0;
  -moz-box-shadow: #ef691d 0 4px 0;
  box-shadow: #ef691d 0 4px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 47, ../../sass/admin/modules/_forms.scss */
input[type=submit] span {
  position: relative;
  font-size: 2em;
  display: inline-block;
  top: 3px;
}
/* line 54, ../../sass/admin/modules/_forms.scss */
input[type=submit]:hover {
  background: #f17f3e;
}
/* line 58, ../../sass/admin/modules/_forms.scss */
input[type=submit]:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: #ef691d 0 2px 0;
  -moz-box-shadow: #ef691d 0 2px 0;
  box-shadow: #ef691d 0 2px 0;
}
/* line 65, ../../sass/admin/modules/_forms.scss */
input[type=submit].disabled {
  background: #c6c6c6;
  -webkit-box-shadow: #aaaaaa 0 4px 0;
  -moz-box-shadow: #aaaaaa 0 4px 0;
  box-shadow: #aaaaaa 0 4px 0;
}
/* line 69, ../../sass/admin/modules/_forms.scss */
input[type=submit].disabled:active {
  margin-top: 0px;
  -webkit-box-shadow: #aaaaaa 0 4px 0;
  -moz-box-shadow: #aaaaaa 0 4px 0;
  box-shadow: #aaaaaa 0 4px 0;
  cursor: pointer;
}

/* line 1, ../../sass/admin/modules/_push.scss */
.push {
  width: 100%;
  position: relative;
  overflow: visible;
}

/* line 7, ../../sass/admin/modules/_push.scss */
.half {
  width: 50%;
}
@media only screen and (max-width: 1100px) {
  /* line 7, ../../sass/admin/modules/_push.scss */
  .half {
    width: 100%;
  }
}

/* line 15, ../../sass/admin/modules/_push.scss */
#pushNotification {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
}

/* line 22, ../../sass/admin/modules/_push.scss */
#btnSendPush {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 27, ../../sass/admin/modules/_push.scss */
#btnSendPush.fadeAway {
  -webkit-transform: translate(80px, 0px);
  -moz-transform: translate(80px, 0px);
  -ms-transform: translate(80px, 0px);
  -o-transform: translate(80px, 0px);
  transform: translate(80px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 33, ../../sass/admin/modules/_push.scss */
#loader {
  width: 40px;
  position: relative;
  top: -37px;
  left: 240px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 240ms;
  -moz-transition-duration: 240ms;
  -o-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 43, ../../sass/admin/modules/_push.scss */
#loader.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 48, ../../sass/admin/modules/_push.scss */
#notification {
  width: 400px;
  position: absolute;
  left: 624px;
  top: 130px;
}
@media only screen and (max-width: 1100px) {
  /* line 48, ../../sass/admin/modules/_push.scss */
  #notification {
    display: none;
  }
}

/* line 59, ../../sass/admin/modules/_push.scss */
.styled-select {
  position: relative;
}
/* line 62, ../../sass/admin/modules/_push.scss */
.styled-select span {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 3em;
  color: #bcbdb1;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* line 1, ../../sass/admin/modules/_login.scss */
#login {
  text-align: center;
}
/* line 4, ../../sass/admin/modules/_login.scss */
#login h1 {
  text-align: center;
  width: 100%;
  display: block;
}
/* line 10, ../../sass/admin/modules/_login.scss */
#login #scan {
  margin: 30px auto;
  float: none;
}
/* line 15, ../../sass/admin/modules/_login.scss */
#login #startCam {
  width: 220px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -110px;
}
/* line 22, ../../sass/admin/modules/_login.scss */
#login #returnToFrontEnd {
  position: relative;
}
/* line 25, ../../sass/admin/modules/_login.scss */
#login #returnToFrontEnd:active {
  top: 2px;
}
