.app-demo {
    background-image: url('../img/demo/iphone-01.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;
}

@media only all and (max-width: 64em) {
    .app-demo {
        @include background-size(350px 350px);
    }
}

@media only all and (min-width: 64em) {
    .app-demo {
        background-position: center center;

        // .app-demo-started is a class that gets added to the body
        // with Javascript when the demo should scroll
        // and removed when the demo shouldn't scroll
        .app-demo-started & {
            background-attachment: fixed;
            background-position: center 50%;
        }
    }
}

.app-demo-1 {
  position: relative;
    background-image: url('../img/demo/iphone-01.png');
    .app-demo-1-info{
      position: absolute;
      right: 20%;
      top: 350px;
    }
    h1 {
      @include font-alternate($orange, 3em);
    }
    .appstore-logo {
      display: block;
      width: 147px;
      height: 48px;
      background: url('../img/demo/appstore.png');
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
    .arrow-down {
      display: block;
      width: 8px;
      height: 309px;
      background: url('../img/demo/arrow.png') no-repeat;
      background-size: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;

    }

}

.app-demo-2 {
    position: relative;
    background-image: url('../img/demo/iphone-02.png');
  .app-demo-2-info {
    position: absolute;
    left: 15%;
    top: 350px;
    h1 {
      @include font-alternate($beige, 3em);
    }
  }
  .app-demo-2-info2 {
    position: absolute;
    right: 10%;
    top: 350px;
    h1 {
      width: 360px;
      height: 30px;
      @include font-alternate($beige, 1.6em);
      background: url('../img/demo/burgerpin.png') no-repeat;
      padding-left: 30px;

    }
    h2 {
      @include font-alternate($brown, 1em);
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
}

.app-demo-3 {
    background-image: url('../img/demo/iphone-03.png');
  position: relative;
  .app-demo-3-info {
    position: absolute;
    left: 20%;
    top: 250px;
    .mrburger{
      width: 176px;
      height: 88px;
      display: block;
      &.burger-01{
        background: url('../img/demo/burger_01.png');
      }
      &.burger-02{
        background: url('../img/demo/burger_02.png');
      }
      &.burger-02{
        background: url('../img/demo/burger_03.png');
      }
    }
  }
 .app-demo-3-info2 {
    @include font-alternate($orange, 2em);
    position: absolute;
    right: 20%;
    top: 350px;
  }
}

.app-demo-4 {
    background-image: url('../img/demo/iphone-04.png');

}



