.calendar-item {
    padding-bottom: 3em;

    &::after {
        content: " ";
        display: block;
        @include background(radial-gradient(rgba($brown, .3), rgba($brown, 0) 35%, rgba($brown, 0)));
        position: absolute;
        bottom: -1em;
        height: 2.5em;
        width: 100%;
    }
}

.addToIcal {
    position: relative;
    display: block;
    text-align: center;
    display: inline-block;
    padding-top: 1.5em;

    &:before {
        @extend %sprite;
        background-position: -223px -135px;
        width: 32px;
        height: 29px;
        content: " ";
        position: absolute;
        top: 15px; left: -40px;
        display: block;
    }

    @media only screen and (max-width: 64em) {
        display: none;
    }
}

.calendar-item-title {
    @extend %offset-text-shadow;
    @include font-alternate($beige, 4.75em);
    text-align: center;
    padding-bottom: .2em;

    @media only screen and (max-width: 64em) {
        @include font-alternate($beige, 3.75em);
    }
}

.calendar-item-subtitle {
    @include font-mission-script($brown, 2.6em);
    display: block;
    text-align: center;
}

.calendar-item-add {
    color: $beige;
    text-decoration: none;
    line-height: 3em;
}