.feature-slider-container {
    height: 31em;
    padding: 5.3em 0 3.5em;
    margin: -20em 0 0 -38%;
    max-width: 46em;
    width: 80%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.feature-slider-navigation {
    margin: 0 auto;
    padding: 1.5em 0 0;
    width: 3.2em;

    li {
        @include inline-block;
        padding-right: .5em;
    }
}

.feature-slider-navigation-item {
    @include inline-block;
    background-color: $beige;
    border-radius: .5em;
    color: transparent;
    font: 0/0;
    height: 1em;
    text-decoration: none;
    width: 1em;
}

.mr-burger-appstore {
    background-image: url('../img/festi-food-appstore.svg');
    display: block;
    height: 280px;
    @include hide-text;
    position: relative;
    left: -6em;
    width: 320px;
}

.feature-slogan {
    @extend %offset-text-shadow;
    @include font-alternate($beige, 2.75em);
    margin: 0 auto;
    padding: 1em 0 0;
    text-align: center;
    width: 100%;

    span {
        font-family: $font-mission-script;
        text-transform: none;
    }
}

#iphone-startscreen {
    width: 500px;
    height: 413px;
    background: url("../img/demo/iphone-00.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: -5.5em;
    top: 4.7em;

    .iphone-gif {
        display: block;
        width: 327px;
        height: 239px;
        background: url("../img/demo/iphone-gif.gif") no-repeat;
        background-size: 100%;
        position: relative;
        top: 42px;
        left: 119px;
    }
}

@media only all and (min-width: 66em) {
    .feature-slider-container {
        left: 50%;
        margin-top: -18em;
        margin-left: -23em;
    }

    .mr-burger-appstore {
        left: 0em;
    }

    #iphone-startscreen {
        right: -2.5em;
    }
}