.feature-slider-container {
    height: 31em;
    padding: 5.3em 0 3.5em;
    margin: -20em 0 0 -38%;
    max-width: 46em;
    width: 80%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.feature-slider-navigation {
    margin: 0 auto;
    padding: 1.5em 0 0;
    width: 3.2em;

    li {
        @include inline-block;
        padding-right: .5em;
    }
}

.feature-slider-navigation-item {
    @include inline-block;
    background-color: $beige;
    border-radius: .5em;
    color: transparent;
    font: 0/0;
    height: 1em;
    text-decoration: none;
    width: 1em;

    @media only screen and (max-width: 21.25em) {
        display: none;
    }
}

.mr-burger-appstore {
    background-image: url('../img/festi-food-appstore.svg');
    display: block;
    height: 280px;
    @include hide-text;
    position: relative;
    left: -6em;
    width: 320px;

    @media only screen and (max-width: 63.99em) {
        left: 0em;
        margin: 0 auto;
        position: relative;
        top: -2em;
    }

    @media only screen and (max-width: 21.25em) {
        width: 70%;
        margin: 0 auto;
        top: 4em;
        left: -1em;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.feature-slogan {
    @extend %offset-text-shadow;
    @include font-alternate($beige, 2.75em);
    margin: 0 auto;
    padding: 1em 0 0;
    text-align: center;
    width: 100%;

    span {
        font-family: $font-mission-script;
        text-transform: none;
    }

    @media only screen and (max-width: 21.25em) {
        margin-top: -2em;
        @include font-alternate($beige, 2em);
    }
}

#iphone-startscreen {
    width: 500px;
    height: 413px;
    background: url("../img/demo/iphone-00.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: -5.5em;
    top: 4.7em;

    .iphone-gif {
        display: block;
        width: 327px;
        height: 239px;
        background: url("../img/demo/iphone-gif.gif") no-repeat;
        background-size: 100%;
        position: relative;
        top: 42px;
        left: 119px;
    }

    @media only screen and (max-width: 63.99em) {
        display: none;
    }
}

#mayonaisse {
    background: url("../img/mayonaise.png") no-repeat;
    width: 251px;
    height: 301px;
    background-size: 100%;
    display: block;
    position: absolute;
    right: 5em;
    top: 6em;

    @media only screen and (max-width: 63.99em) {
        display: none;
    }
}

.feature {
    @include transition-property(all);
    @include transition-duration(700ms);
    @include transition-timing-function(ease-out);
}

.feature-slider {

}

.feature-shown {
    @include opacity(1);
}

.feature-hidden {
    @include opacity(0);
}

#next-event {
    position: absolute;
    top: 0; right: 0;

    h3 {
        @include inline-block;
        background-color: $beige-darkened;
        @include background(linear-gradient(center top, $beige, $beige 49%, $beige-darkened 50%, $beige-darkened));
        border-radius: .2em;
        @include box-shadow(0 2px 0 rgba(0, 0, 0, .15));
        @include font-alternate($blue, 2em);
        margin-right: .5rem;
        padding: .6em .6em;
        text-decoration: none;
        position: relative;

        span {
            position: absolute;
            top: 77px; right: 19px;
            font-size: 0.7em;
            color: $brown;
        }

        &:hover {
            background-color: $beige;
            background-image: none;
        }
    }

    h4 {
        span {
            display: block;
            @include font-mission-script($beige, 1em);
            text-transform: lowercase;
            float: left;
        }
        width: 200px;
        @include font-alternate($beige, 2em);
    }
}

@media only all and (min-width: 64em) {
    .feature-slider-container {
        left: 50%;
        margin-top: -18em;
        margin-left: -23em;
    }

    .mr-burger-appstore {
        left: 0em;
    }

    #iphone-startscreen {
        right: -2.5em;
    }
}