.horizontal-slider {
    @include pie-clearfix;
    padding: 2.5em 0;
    position: relative;
    height: 40em;
}

.horizontal-slider-navigation-title {
    @extend %offset-text-shadow;
    @include font-alternate($beige, 2.125em);
    padding: 1em 0 .4em;
}

.horizontal-slider-navigation {
    @include pie-clearfix;
    padding-bottom: 4.5em;

    li {
        @include inline-block;
    }
}

.horizontal-slider-navigation-item {
    @include inline-block;
    background-color: $beige-darkened;
    @include background(linear-gradient(center top, $beige, $beige 49%, $beige-darkened 50%, $beige-darkened));
    border-radius: .2em;
    @include box-shadow(0 2px 0 rgba(0, 0, 0, .15));
    @include font-alternate($blue, 1.7em);
    margin-right: .5rem;
    padding: .6em .4em;
    text-decoration: none;

    &:hover {
        background-color: $beige;
        background-image: none;
    }
}

.horizontal-slider-navigation-item-active {
    background-color: $blue-darkened;
    @include background(linear-gradient(center top, $blue, $blue 49%, $blue-darkened 50%, $blue-darkened));
    color: $beige;

    &:hover {
        background-color: $blue;
        background-image: none;
    }
}

.horizontal-slider-item {
    display: none;
    text-align: center;
    position: absolute;
    top: 2em;
    width: 100%;
    @include transition(all 440ms);
    @include transition-elastic;
}

.horizontal-slider-item-shown {
    display: block;
    top: 2em;
    left: 0px;
    @include opacity(1);
}

.horizontal-slider-item-next {
    display: block;
    left: 150%;
    @include opacity(0);
}

.horizontal-slider-item-previous {
    display: block;
    left: -150%;
    @include opacity(0);
}

.horizontal-slider-previous-button {
    @extend %sprite;
    background-position: -20px -73px;
    left: -3em;
    right: auto;
    position: absolute;
    top: 40%;
    height: 3.2em;
    width: 3em;
    opacity: .8;
    @include transition(opacity 220ms ease-in-out);

    &:hover {
        opacity: 1;
    }
}

.horizontal-slider-next-button {
    @extend .horizontal-slider-previous-button;
    background-position:-17px -125px;
    left: auto;
    right: -3em;
}