.rate-container {
    padding: 2em 0 0;

    .button-confirm {
        position: absolute;
        margin-left: -5.75em;
        left: 50%;
        bottom: .5em;
    }
}

.rate {
    position: relative;
    padding: 6em 0 1em;
    height: 51%;
}

.rate-heading {
    @include font-alternate($blue, 2em);
    text-align: center;
}

.rate-subtitle {
    display: block;
    @include font-traveler(darken($beige, 25%), .85em);
    text-align: center;
}

.rate-visual {
    background: url('../img/rate.png') no-repeat;
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    margin: 0 auto 1.75em;
    width: 76px;
}


.rate-plus-button {
    @extend %sprite;
    background-position: -218px -20px;
    display: block;
    height: 83px;
    margin: 0 0 0 -23px;
    width: 35px;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-animation: swinging 3s infinite ease-in-out;
    -moz-animation: swinging 3s infinite ease-in-out;
    -ms-animation: swinging 3s infinite ease-in-out;
    -animation: swinging 3s infinite ease-in-out;
    position: absolute;
    left: 50%;
    top: 50px;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(-7deg);
  }

  50% {
    -webkit-transform: rotate(7deg);
  }

  100% {
    -webkit-transform: rotate(-7deg);
  }
}


