.site-header {
    background-color: $beige;
    // border-bottom: .5em solid #c15024;
    box-shadow: 0 .5em 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.375em;
    width: 100%;
    z-index: 999;
}

.circle-logo {
    background-image: url('../img/circle-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 175px;
    @include hide-text;
    left: -600px;
    opacity: 0;
    position: absolute;
    top: -2.15em;
    @include transition(all 440ms ease-in-out);
    width: 170px;

    .show-logo & {
        display: block;
        left: 0px;
        opacity: 1;
    }
}

.horizontal-nav {
    @include font-alternate($blue, 1.6em);
    padding-left: 7em;
    width: 800px;
    @include transition(padding-left 330ms ease-in-out 110ms);

    li {
        @include inline-block;
    }

    .show-logo & {
        padding-left: 8em;
    }
}

.nav-item {
    @include inline-block;
    color: $blue;
    padding: .8em 1.5em;
    text-decoration: none;
    @include transition(color 220ms ease-in-out);

    &:hover {
        color: $orange;
    }
}