.site-footer {
    background-color: $blue-darkened;
    color: $beige;
    padding-top: 4em;

    p {
        margin: 0 auto;
        max-width: 22em;
    }

    .column:first-child {
        @media only screen and (max-width: 63em) {
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }
}

.mr-burger {
    background-image: url('../img/mr-burger.svg');
    background-position: center;
    display: block;
    height: 128px;
    @include hide-text;
    margin: 0 auto 2em;
    width: 175px;

    .no-svg & {
        background-image: url('../img/mr-burger.png');
    }
}

.livefeed {
    background-image: url('../img/livefeed.svg');
    background-position: center;
    display: block;
    height: 128px;
    @include hide-text;
    margin: 0 auto 2em;
    width: 175px;

    .no-svg & {
        background-image: url('../img/livefeed.png');
    }
}

.statistics {
    background-image: url('../img/statistics.svg');
    background-position: center;
    display: block;
    height: 128px;
    @include hide-text;
    margin: 0 auto 2em;
    width: 175px;

    .no-svg & {
        background-image: url('../img/statistics.png');
    }
}

a {
    text-decoration: none;
    color: $beige;
}

.dreamteam {
    width: 103px;
    height:23px;
    @include inline-block;
    background: url('../img/dreamteam.png') no-repeat;
    background-size: 100%;
    position: relative;
    top: -2px;
    left: 5px;
    margin-right: 12px;
}

.copyright {
    margin-top: 4em;
    // padding: 2em 0;
    line-height: 5em;
}

dl.stats {
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feed-content {
    width: 220px;
    margin-left: 20px;
}

.feed li {
  margin-bottom: 15px;
}

.feed-user {
  margin-bottom: 5px;
}