// @media only all and (min-width: 48em) {
//     .circle-logo {
//         bottom: -3.35em;
//     }
// }

@media only all and (max-width: 64em) {
    .site-header {
        display: none;
    }

    .sidr-class-circle-logo {
        background-image: url('../img/mr-burger.svg');
        @include background-size(contain);
        background-repeat: no-repeat;
        display: block;
        height: 7em;
        @include hide-text;
        margin: 1em auto 0;
        width: 8em;
    }

    .toggle-nav {
        background-color: $beige;
        box-shadow: 0 .25em 0 rgba(0, 0, 0, .2);
        color: $blue;
        font-size: 2em;
        text-decoration: none;
        position: absolute;
        padding: 0 0 .2em .9em;
        top: 0px;
        left: 0px;
        right: 0px;
        line-height: 2.2;
        z-index: 999;
    }

    .current-page {
        text-align: center;
        @include font-alternate($blue-darkened, .9em);
        @include inline-block;
        padding-left: .85em;
        position: relative;
        line-height: 1;
        top: -3px;
    }
}

@media only all and (min-width: 64em) {
    .site-header {
        background-color: $beige;
        box-shadow: 0 .5em 0 rgba(0, 0, 0, .2);
        position: fixed;
        top: 0;
        //left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }

    .toggle-nav {
        display: none;
    }

    .circle-logo {
        background-image: url('../img/circle-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        @include background-size(contain);
        height: 122px;
        left: 50%;
        margin-left: -60px;
        @include hide-text;
        opacity: 1;
        position: absolute;
        bottom: -3.9em;
        width: 120px;
    }

    .horizontal-nav {
        @include font-alternate($blue, 1.6em);

        ul {
            li.active {
                a {
                    color: $orange;
                }
            }
        }
    }

    .nav-item {
        display: block;
        color: $blue;
        padding: .8em 1.5em;
        text-decoration: none;
        @include transition(color 220ms ease-in-out);

        &:hover {
            color: $orange;
        }
    }

    .site-header {
        height: 4.375em;
    }

    .horizontal-nav {
        padding-left: 7em;
        @include transition(padding-left 330ms ease-in-out 110ms);
        width: 800px;

        li {
            @include inline-block;
        }

        .show-logo & {
            padding-left: 8em;
        }
    }

    .nav-item {
        @include inline-block;
    }

    .circle-logo {
        height: 175px;
        left: -600px;
        opacity: 0;
        bottom: auto;
        top: -2.15em;
        @include transition(all 440ms ease-in-out);
        width: 170px;

        .show-logo & {
            left: 0px;
            opacity: 1;
        }
    }

}