.site-footer {
    background-color: $blue-darkened;
    color: $beige;
    padding-top: 4em;
}

.mr-burger {
    background-image: url('../img/mr-burger.svg');
    background-position: center;
    display: block;
    height: 128px;
    @include hide-text;
    margin: 0 auto 2em;
    width: 175px;
}

.livefeed {
  background-image: url('../img/livefeed.svg');
  background-position: center;
  display: block;
  height: 128px;
  @include hide-text;
  margin: 0 auto 2em;
  width: 175px;
}
.statistics {
  background-image: url('../img/statistics.svg');
  background-position: center;
  display: block;
  height: 128px;
  @include hide-text;
  margin: 0 auto 2em;
  width: 175px;
}

a {
  text-decoration: none;
  color: $beige;
}

span.dreamteam {
  width: 103px;
  height:23px;
  display: inline-block;
  background: url('../img/dreamteam.png') no-repeat;
  position: relative;
  top: 5px;
  padding-right: 10px;
  left: 5px;
}

.copyright {
    margin-top: 4em;
    // padding: 2em 0;
    line-height: 5em;
}

dl.stats {
  width: 12em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.feed-content {
  width: 220px;
  margin-left: 20px;
}