.horizontal-slider-item-winners {
    text-align: left;
}

h2.winners-title {
    width: 100%;
    padding-top: 0.9em;
    @include font-alternate($beige, 6em);
    @extend %offset-text-shadow;
    text-align: center;
}

<<<<<<< HEAD
.burger-left {
    width: 15%;
=======
#burger-left {
    width: 10%;
>>>>>>> 5280b28eaa5100eac6580aa3232fa2a879ef122e
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;

    .burger {
        margin: 2em 0;
    }
}

.burger-right {
    width: 60%;
    float: left;
    margin-left: 5%;
    padding-top: 1.6em;

    h1.winner-item-title {
        @include font-alternate($beige, 3em);
        @extend %offset-text-shadow;
        padding-bottom: 0.1em;
    }

    span.winner-item-ingredients {
        @include font-alternate($brown, 1.4em);
    }

    ul {
        margin-top: 1.3em;
        li {
            display: inline-block;
            margin-right: 0.6em;
            &:last-child {
                margin-right: 0em;
            }
        }
    }

    @media only all and (max-width: 1300px) {
        width: 60%;
        margin-left: 10%;
    }

    
}

@media only all and (max-width: 64em) {
    .burger-right, .burger-left {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }

    .burger-left {
        padding-bottom: 2.8em;
        .burger {
            margin: auto;
        }
    }

    .horizontal-slider-item-winners {
        text-align: center;
    }      
}
.burger::before{
  margin-bottom: 5px;
}

.burger::after{
  margin-top: 10px;
}

.burger img {
  padding-top: 6px;
}