.push {
    width: 100%;
    position: relative;
    overflow: visible;
}

.half {
    width: 50%;

    @media only screen and (max-width: 1100px) {
        width: 100%;
    }
}

#pushNotification {
    width: 400px;
    position: absolute;
    bottom: 0; right: 0;
    overflow: visible;
}

#btnSendPush {
    @include transition-property(all);
    @include transition-duration(240ms);
    @include transition-timing-function(ease-out);

    &.fadeAway {
        @include translate(80px, 0px);
        @include opacity(0);
    }
}

#loader {
    width: 40px;
    position: relative;
    top: -37px;
    left: 240px;
    @include opacity(0);
    @include transition-property(all);
    @include transition-duration(240ms);
    @include transition-timing-function(ease-out);

    &.show {
        @include opacity(1);
    }
}

#notification {
    width: 400px;
    position: absolute;
    left: 624px;
    top: 130px;

    @media only screen and (max-width: 1100px) {
        display: none;
    }
}

.styled-select {
    position: relative;

    span {
        position: absolute;
        top: 5px; right: 10px;
        font-size: 3em;
        color: shade($beige, 20);
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
    }
}