.site-header {
    background-color: $orange;
    // border-bottom: .5em solid #c15024;
    box-shadow: 0 .4em 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.7em;
    width: 100%;
    z-index: 999;
}

.circle-logo {
    background-image: url('../../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 58px;
    @include hide-text;
    position: absolute;
    top: 0.3em;
    width: 79px;
}

.horizontal-nav {
    @include font-alternate($blue, 1.6em);
    width: 620px;

    li {
        @include inline-block;
    }
    padding-left: 4em;

}

.nav-item {
    @include inline-block;
    color: $beige;
    padding: .9em 1.2em;
    text-decoration: none;
    @include transition(color 220ms ease-in-out);

    &:hover {
        color: shade($beige, 10);
    }

    &.active {
        color: $brown;
    }
}

#user {
    position: absolute;
    right: 0;
    top: 12px;
    img {
        width: 40px;
        @include border-radius(100px);
        border: 5px solid $beige;
        float: right;
    }
    p {
        float: left;
        text-align: right;
        padding-right: 0.8em;
        line-height: 1.1em;
        padding-top: 0.55em;
        a {
            display: block;
            text-decoration: none;
            color: $beige;
            font-style: italic;
            font-size: 0.9em;
        }
    }
}