/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Traveler';
  src: url("fonts/traveller.eot");
  src: url("fonts/traveller.eot?#iefix") format("embedded-opentype"), url("fonts/traveller.woff") format("woff"), url("fonts/traveller.ttf") format("truetype"), url("fonts/traveller.svg#travelermedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mission Script';
  src: url("fonts/mission-script.eot");
  src: url("fonts/mission-script.eot?#iefix") format("embedded-opentype"), url("fonts/mission-script.woff") format("woff"), url("fonts/mission-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alternate Gothic';
  src: url("fonts/alternate.eot");
  src: url("fonts/alternate.eot?#iefix") format("embedded-opentype"), url("fonts/alternate.woff") format("woff"), url("fonts/alternate.ttf") format("truetype"), url("fonts/alternate.svg#AlternateGothicCom-No2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("fonts/entypo.eot");
  src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo.woff") format("woff"), url("fonts/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 49, ../sass/_variables.scss */
.horizontal-slider-navigation-title, .feature-slogan, .calendar-item-title, .gallery-introduction {
  text-shadow: -0.2rem 0.2rem 0 rgba(0, 0, 0, 0.15);
}

/* line 53, ../sass/_variables.scss */
.label-icon, .horizontal-slider-previous-button, .horizontal-slider-next-button, .stat-item-facebook, .stat-item-twitter, .stat-item-downloads, .gallery-share-button, .burger::before, .burger::after {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;
  display: block;
}

/* line 1, ../sass/_base.scss */
html {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 7, ../sass/_base.scss */
body {
  background-color: #ecedde;
  font-family: "Traveler";
  height: 100%;
}

@media only all and (max-width: 48em) {
  /* line 14, ../sass/_base.scss */
  body {
    font-size: 81.25%;
  }
}
/* line 21, ../sass/_base.scss */
.orange {
  background-color: #ef691d;
  color: #ecedde;
}

/* line 26, ../sass/_base.scss */
.full-screen {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 4.375em;
  position: relative;
  width: 100%;
}

/* line 35, ../sass/_base.scss */
.gradient-background {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 65, color-stop(0%, #f57121), color-stop(65%, #e84a0c)), #ef691d;
  background: -webkit-radial-gradient(#f57121, #e84a0c 65%), #ef691d;
  background: -moz-radial-gradient(#f57121, #e84a0c 65%), #ef691d;
  background: -o-radial-gradient(#f57121, #e84a0c 65%), #ef691d;
  background: radial-gradient(#f57121, #e84a0c 65%), #ef691d;
}

/* line 39, ../sass/_base.scss */
.blurry-background {
  background-image: url("../img/blurry-background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 47, ../sass/_base.scss */
p {
  color: inherit;
  font-family: "Traveler";
  font-size: 0.9735em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  margin-bottom: 1em;
}

/* line 54, ../sass/_base.scss */
select.form-element, input[type="text"].form-element {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ecedde;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  box-shadow: -0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  color: #2d353a;
  font-family: "Alternate Gothic";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  width: 100%;
}

/* line 66, ../sass/_base.scss */
label {
  display: none;
}

/* line 70, ../sass/_base.scss */
.label-icon-container {
  position: relative;
  padding-bottom: .5em;
}

/* line 75, ../sass/_base.scss */
.label-icon {
  background-color: #2d353a;
  border-radius: 1.4em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  height: 2.8em;
  width: 2.8em;
  position: absolute;
  top: -.4em;
  right: 1em;
  z-index: 99;
}

/* line 89, ../sass/_base.scss */
.label-icon-dropdown {
  background-position: -55px -174px;
}

/* line 93, ../sass/_base.scss */
.label-icon-search {
  background-position: -95px -175px;
}

/* line 97, ../sass/_base.scss */
select.form-element {
  height: 1.7em;
  padding: .4em 1em .3em;
  position: relative;
  top: .1em;
  z-index: 9;
}

/* line 109, ../sass/_base.scss */
input[type="text"].form-element {
  letter-spacing: .05em;
  padding: .45em 1em .25em;
}
/* line 114, ../sass/_base.scss */
input[type="text"].form-element::after {
  position: absolute;
  top: -1em;
  right: -1em;
  z-index: 999;
}

/* line 124, ../sass/_base.scss */
.prefixed-link {
  color: #ef691d;
  text-decoration: none;
  -webkit-transition: color 220ms ease-in-out;
  -moz-transition: color 220ms ease-in-out;
  -o-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out;
}
/* line 129, ../sass/_base.scss */
.prefixed-link:hover {
  color: #f2894d;
}

/* line 134, ../sass/_base.scss */
.circle-picture, .gallery-share-button {
  background-position: center center;
  border: .3em solid white;
  border-radius: 1.5em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 2.5em;
  width: 2.5em;
}

/* line 2, ../sass/_layout.scss */
#site-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 12, ../sass/_layout.scss */
#site {
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

/* line 19, ../sass/_layout.scss */
.container {
  clear: both;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 92%;
}

/* line 27, ../sass/_layout.scss */
.container-small {
  width: 55%;
}

/* line 33, ../sass/_layout.scss */
.column-container {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.column-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/_layout.scss */
.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2em;
}
/* line 41, ../sass/_layout.scss */
.column:last-child {
  float: right;
}

@media only all and (min-width: 53em) {
  /* line 47, ../sass/_layout.scss */
  .span-one-column {
    float: left;
  }
  /* line 50, ../sass/_layout.scss */
  .has-four-columns .span-one-column {
    width: 25%;
  }
  /* line 54, ../sass/_layout.scss */
  .has-three-columns .span-one-column {
    width: 33%;
  }
  /* line 58, ../sass/_layout.scss */
  .has-two-columns .span-one-column {
    width: 50%;
  }

  /* line 63, ../sass/_layout.scss */
  .span-two-columns {
    float: left;
  }
  /* line 66, ../sass/_layout.scss */
  .has-four-columns .span-two-columns {
    width: 50%;
  }
  /* line 70, ../sass/_layout.scss */
  .has-three-columns .span-two-columns {
    width: 66%;
  }

  /* line 77, ../sass/_layout.scss */
  .has-four-columns .span-three-columns {
    width: 75%;
  }
  /* line 81, ../sass/_layout.scss */
  .has-three-columns .span-three-columns {
    width: 100%;
  }
}
@media only all and (max-width: 64em) {
  /* line 8, ../sass/modules/_site-header.scss */
  .site-header {
    display: none;
  }

  /* line 12, ../sass/modules/_site-header.scss */
  .sidr-class-circle-logo {
    background-image: url("../img/mr-burger.svg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 7em;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    margin: 1em auto 0;
    width: 8em;
  }

  /* line 23, ../sass/modules/_site-header.scss */
  .toggle-nav {
    background-color: #ecedde;
    box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.2);
    color: #2d353a;
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    padding: 0 0 .2em .9em;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 2.2;
    z-index: 999;
  }

  /* line 38, ../sass/modules/_site-header.scss */
  .current-page {
    text-align: center;
    color: #1e2328;
    font-family: "Alternate Gothic";
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-left: .85em;
    position: relative;
    line-height: 1;
    top: -3px;
  }
}
@media only all and (min-width: 64em) {
  /* line 50, ../sass/modules/_site-header.scss */
  .site-header {
    background-color: #ecedde;
    box-shadow: 0 0.5em 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }

  /* line 61, ../sass/modules/_site-header.scss */
  .toggle-nav {
    display: none;
  }

  /* line 65, ../sass/modules/_site-header.scss */
  .circle-logo {
    background-image: url("../img/circle-logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 122px;
    left: 50%;
    margin-left: -60px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    opacity: 1;
    position: absolute;
    bottom: -3.9em;
    width: 120px;
  }

  /* line 81, ../sass/modules/_site-header.scss */
  .horizontal-nav {
    color: #2d353a;
    font-family: "Alternate Gothic";
    font-size: 1.6em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
  }

  /* line 85, ../sass/modules/_site-header.scss */
  .nav-item {
    display: block;
    color: #2d353a;
    padding: .8em 1.5em;
    text-decoration: none;
    -webkit-transition: color 220ms ease-in-out;
    -moz-transition: color 220ms ease-in-out;
    -o-transition: color 220ms ease-in-out;
    transition: color 220ms ease-in-out;
  }
  /* line 92, ../sass/modules/_site-header.scss */
  .nav-item:hover {
    color: #ef691d;
  }

  /* line 97, ../sass/modules/_site-header.scss */
  .site-header {
    height: 4.375em;
  }

  /* line 101, ../sass/modules/_site-header.scss */
  .horizontal-nav {
    padding-left: 7em;
    -webkit-transition: padding-left 330ms ease-in-out;
    -webkit-transition-delay: 110ms;
    -moz-transition: padding-left 330ms ease-in-out 110ms;
    -o-transition: padding-left 330ms ease-in-out 110ms;
    transition: padding-left 330ms ease-in-out 110ms;
    width: 800px;
  }
  /* line 106, ../sass/modules/_site-header.scss */
  .horizontal-nav li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
  /* line 110, ../sass/modules/_site-header.scss */
  .show-logo .horizontal-nav {
    padding-left: 8em;
  }

  /* line 115, ../sass/modules/_site-header.scss */
  .nav-item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }

  /* line 119, ../sass/modules/_site-header.scss */
  .circle-logo {
    height: 175px;
    left: -600px;
    opacity: 0;
    bottom: auto;
    top: -2.15em;
    -webkit-transition: all 440ms ease-in-out;
    -moz-transition: all 440ms ease-in-out;
    -o-transition: all 440ms ease-in-out;
    transition: all 440ms ease-in-out;
    width: 170px;
  }
  /* line 128, ../sass/modules/_site-header.scss */
  .show-logo .circle-logo {
    left: 0px;
    opacity: 1;
  }
}
/* line 1, ../sass/modules/_site-footer.scss */
.site-footer {
  background-color: #1e2328;
  color: #ecedde;
  padding-top: 4em;
}

/* line 7, ../sass/modules/_site-footer.scss */
.mr-burger {
  background-image: url("../img/mr-burger.svg");
  background-position: center;
  display: block;
  height: 128px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin: 0 auto 2em;
  width: 175px;
}

/* line 17, ../sass/modules/_site-footer.scss */
.copyright {
  margin-top: 4em;
  line-height: 5em;
}

/* line 1, ../sass/modules/_full-width-image.scss */
.full-width-image {
  background-image: url("../img/full-width-image.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 12em;
}

@media only all and (min-height: 47em) {
  /* line 9, ../sass/modules/_full-width-image.scss */
  .full-width-image {
    height: 30em;
  }
}
/* line 1, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider {
  *zoom: 1;
  padding: 2.5em 0;
  position: relative;
  height: 40em;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.horizontal-slider:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation-title {
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 2.125em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 1em 0 .4em;
}

/* line 14, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation {
  *zoom: 1;
  padding-bottom: 4.5em;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.horizontal-slider-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 23, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #d2d2bf;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecedde), color-stop(49%, #ecedde), color-stop(50%, #d2d2bf), color-stop(100%, #d2d2bf));
  background: -webkit-linear-gradient(center top, #ecedde, #ecedde 49%, #d2d2bf 50%, #d2d2bf);
  background: -moz-linear-gradient(center top, #ecedde, #ecedde 49%, #d2d2bf 50%, #d2d2bf);
  background: -o-linear-gradient(center top, #ecedde, #ecedde 49%, #d2d2bf 50%, #d2d2bf);
  background: linear-gradient(center top, #ecedde, #ecedde 49%, #d2d2bf 50%, #d2d2bf);
  border-radius: .2em;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  color: #2d353a;
  font-family: "Alternate Gothic";
  font-size: 1.7em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  margin-right: .5rem;
  padding: .6em .4em;
  text-decoration: none;
}
/* line 34, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation-item:hover {
  background-color: #ecedde;
  background-image: none;
}

/* line 40, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation-item-active {
  background-color: #1e2328;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d353a), color-stop(49%, #2d353a), color-stop(50%, #1e2328), color-stop(100%, #1e2328));
  background: -webkit-linear-gradient(center top, #2d353a, #2d353a 49%, #1e2328 50%, #1e2328);
  background: -moz-linear-gradient(center top, #2d353a, #2d353a 49%, #1e2328 50%, #1e2328);
  background: -o-linear-gradient(center top, #2d353a, #2d353a 49%, #1e2328 50%, #1e2328);
  background: linear-gradient(center top, #2d353a, #2d353a 49%, #1e2328 50%, #1e2328);
  color: #ecedde;
}
/* line 45, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-navigation-item-active:hover {
  background-color: #2d353a;
  background-image: none;
}

/* line 51, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-item {
  display: none;
  text-align: center;
  position: absolute;
  top: 2em;
  width: 100%;
  -webkit-transition: all 440ms;
  -moz-transition: all 440ms;
  -o-transition: all 440ms;
  transition: all 440ms;
  -webkit-transition-timing-function: cubic-bezier(0.58, 0, 0.125, 1);
  -webkit-transition-timing-function: cubic-bezier(0.58, -0.6, 0.125, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.58, -0.6, 0.125, 1.475);
  -ms-transition-timing-function: cubic-bezier(0.58, -0.6, 0.125, 1.475);
  -o-transition-timing-function: cubic-bezier(0.58, -0.6, 0.125, 1.475);
  transition-timing-function: cubic-bezier(0.58, -0.6, 0.125, 1.475);
}

/* line 61, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-item-shown {
  display: block;
  top: 2em;
  left: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 68, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-item-next {
  display: block;
  left: 150%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 74, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-item-previous {
  display: block;
  left: -150%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 80, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-previous-button, .horizontal-slider-next-button {
  background-position: -20px -73px;
  left: -3em;
  right: auto;
  position: absolute;
  top: 40%;
  height: 2.2em;
  width: 2.2em;
}

/* line 91, ../sass/modules/_horizontal-slider.scss */
.horizontal-slider-next-button {
  background-position: -17px -125px;
  left: auto;
  right: -3em;
}

/* line 1, ../sass/modules/_app-demo.scss */
.app-demo {
  background-image: url("../img/demo/iphone-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
}

@media only all and (max-width: 64em) {
  /* line 10, ../sass/modules/_app-demo.scss */
  .app-demo {
    -webkit-background-size: 350px 350px;
    -moz-background-size: 350px 350px;
    -o-background-size: 350px 350px;
    background-size: 350px 350px;
  }
}
@media only all and (min-width: 64em) {
  /* line 16, ../sass/modules/_app-demo.scss */
  .app-demo {
    background-position: center center;
  }
  /* line 22, ../sass/modules/_app-demo.scss */
  .app-demo-started .app-demo {
    background-attachment: fixed;
    background-position: center 50%;
  }
}
/* line 29, ../sass/modules/_app-demo.scss */
.app-demo-1 {
  background-image: url("../img/demo/iphone-01.png");
}

/* line 33, ../sass/modules/_app-demo.scss */
.app-demo-2 {
  background-image: url("../img/demo/iphone-02.png");
}

/* line 37, ../sass/modules/_app-demo.scss */
.app-demo-3 {
  background-image: url("../img/demo/iphone-03.png");
}

/* line 41, ../sass/modules/_app-demo.scss */
.app-demo-4 {
  background-image: url("../img/demo/iphone-04.png");
}

/* line 1, ../sass/modules/_feature-slider.scss */
.feature-slider-container {
  padding: 5.3em 0 3.5em;
  margin: 0 auto;
  width: 100%;
  display: none;
}

/* line 9, ../sass/modules/_feature-slider.scss */
.feature-slider-navigation {
  margin: 0 auto;
  padding: 1.5em 0 0;
  width: 3.2em;
}
/* line 14, ../sass/modules/_feature-slider.scss */
.feature-slider-navigation li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-right: .5em;
}

/* line 20, ../sass/modules/_feature-slider.scss */
.feature-slider-navigation-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #ecedde;
  border-radius: .5em;
  color: transparent;
  font: 0/0;
  height: 1em;
  text-decoration: none;
  width: 1em;
}

/* line 31, ../sass/modules/_feature-slider.scss */
.mr-burger-appstore {
  background-image: url("../img/festi-food-appstore.svg");
  display: block;
  height: 280px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 320px;
}

/* line 39, ../sass/modules/_feature-slider.scss */
.feature-slogan {
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 2.75em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1em 0 0;
  text-align: center;
  width: 100%;
}
/* line 47, ../sass/modules/_feature-slider.scss */
.feature-slogan span {
  font-family: "Mission Script";
  text-transform: none;
}

@media only all and (min-width: 64em) {
  /* line 54, ../sass/modules/_feature-slider.scss */
  .feature-slider-container {
    width: 70%;
  }

  /* line 58, ../sass/modules/_feature-slider.scss */
  .feature-slogan {
    width: 65%;
  }
}
/* line 63, ../sass/modules/_feature-slider.scss */
#scroll-indicator {
  width: 48px;
  height: 130px;
  position: absolute;
  right: 0px;
  bottom: 20px;
}

@media only all and (min-width: 1200px) {
  /* line 73, ../sass/modules/_feature-slider.scss */
  #scroll-indicator {
    right: -60px;
  }
}
/* line 79, ../sass/modules/_feature-slider.scss */
#ball {
  width: 48px;
  height: 47px;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: bounce .7s infinite;
  -moz-animation: bounce .7s infinite;
  -ms-animation: bounce .7s infinite;
  -o-animation: bounce .7s infinite;
  animation: bounce .7s infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  background: url("../img/sprite.svg") no-repeat -6px -5px;
}

@-webkit-keyframes bounce {
  /* line 103, ../sass/modules/_feature-slider.scss */
  0% {
    top: 30px;
    -webkit-animation-timing-function: ease-in;
  }

  /* line 107, ../sass/modules/_feature-slider.scss */
  100% {
    top: 40px;
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes bounce {
  /* line 114, ../sass/modules/_feature-slider.scss */
  0% {
    top: 30px;
    -moz-animation-timing-function: ease-in;
  }

  /* line 118, ../sass/modules/_feature-slider.scss */
  100% {
    top: 40px;
    -moz-animation-timing-function: ease-in;
  }
}

@-ms-keyframes bounce {
  /* line 125, ../sass/modules/_feature-slider.scss */
  0% {
    top: 30px;
    -ms-animation-timing-function: ease-in;
  }

  /* line 129, ../sass/modules/_feature-slider.scss */
  100% {
    top: 40px;
    -ms-animation-timing-function: ease-in;
  }
}

@keyframes bounce {
  /* line 136, ../sass/modules/_feature-slider.scss */
  0% {
    top: 30px;
    -animation-timing-function: ease-in;
  }

  /* line 140, ../sass/modules/_feature-slider.scss */
  100% {
    top: 40px;
    -animation-timing-function: ease-in;
  }
}

/* line 145, ../sass/modules/_feature-slider.scss */
#shadow {
  position: absolute;
  height: 5px;
  width: 80px;
  top: 115px;
  background: rgba(0, 0, 0, 0.07);
  bottom: 6px;
  left: 50%;
  margin-left: 50px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12x 2px rgba(0, 0, 0, 0.1);
  -webkit-animation: shadow 0.7s infinite;
  -moz-animation: shadow 0.7s infinite;
  -ms-animation: shadow 0.7s infinite;
  animation: shadow 0.7s infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -animation-direction: alternate;
}

@-webkit-keyframes shadow {
  /* line 169, ../sass/modules/_feature-slider.scss */
  0% {
    width: 30px;
    -webkit-border-radius: 10px/5px;
    margin-left: -15px;
    -webkit-animation-timing-function: ease-in;
  }

  /* line 175, ../sass/modules/_feature-slider.scss */
  100% {
    width: 50px;
    -webkit-border-radius: 100px/5px;
    margin-left: -25px;
    -webkit-animation-timing-function: ease-out;
  }
}

@-moz-keyframes shadow {
  /* line 185, ../sass/modules/_feature-slider.scss */
  0% {
    width: 30px;
    -moz-border-radius: 10px/5px;
    margin-left: -15px;
    -moz-animation-timing-function: ease-in;
  }

  /* line 191, ../sass/modules/_feature-slider.scss */
  100% {
    width: 50px;
    -moz-border-radius: 100px/5px;
    margin-left: -25px;
    -moz-animation-timing-function: ease-out;
  }
}

@-ms-keyframes shadow {
  /* line 200, ../sass/modules/_feature-slider.scss */
  0% {
    width: 30px;
    -ms-border-radius: 10px/5px;
    margin-left: -15px;
    -ms-animation-timing-function: ease-in;
  }

  /* line 206, ../sass/modules/_feature-slider.scss */
  100% {
    width: 50px;
    -ms-border-radius: 100px/5px;
    margin-left: -25px;
    -ms-animation-timing-function: ease-out;
  }
}

@keyframes shadow {
  /* line 215, ../sass/modules/_feature-slider.scss */
  0% {
    width: 30px;
    -border-radius: 10px/5px;
    margin-left: -15px;
    -animation-timing-function: ease-in;
  }

  /* line 221, ../sass/modules/_feature-slider.scss */
  100% {
    width: 50px;
    -border-radius: 100px/5px;
    margin-left: -25px;
    -animation-timing-function: ease-out;
  }
}

/* line 1, ../sass/modules/_stats.scss */
.stats {
  width: 12em;
}

/* line 5, ../sass/modules/_stats.scss */
.stat-item, .stat-number {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #ef691d;
  border-radius: .3em;
  box-shadow: 0 0.2em 0 #be3d0a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: "Alternate Gothic";
  font-size: 1.125em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.25em;
  text-align: center;
  padding: .5em;
  width: 2.3em;
}

/* line 19, ../sass/modules/_stats.scss */
.stat-number {
  margin-left: .625em;
  position: relative;
  width: 6.75em;
}
/* line 25, ../sass/modules/_stats.scss */
.stat-number:after {
  background-color: transparent;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #ef691d;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  left: -7px;
  margin-top: -5px;
  width: 0;
}

/* line 41, ../sass/modules/_stats.scss */
.stat-item-facebook, .stat-number-facebook {
  background-color: #395897;
  box-shadow: 0 0.2em 0 #21406f;
}

/* line 46, ../sass/modules/_stats.scss */
.stat-item-facebook {
  background-position: -69px -11px;
}

/* line 55, ../sass/modules/_stats.scss */
.stat-number-facebook::after {
  border-right-color: #395897;
}

/* line 60, ../sass/modules/_stats.scss */
.stat-item-twitter, .stat-number-twitter {
  background-color: #29abe2;
  box-shadow: 0 0.2em 0 #0a7da5;
}

/* line 65, ../sass/modules/_stats.scss */
.stat-item-twitter {
  background-position: -99px -11px;
}

/* line 74, ../sass/modules/_stats.scss */
.stat-number-twitter::after {
  border-right-color: #29abe2;
}

/* line 79, ../sass/modules/_stats.scss */
.stat-item-downloads {
  background-position: -133px -11px;
}

/* line 1, ../sass/modules/_feed.scss */
.feed {
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../sass/modules/_feed.scss */
.feed-profile-picture {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 9, ../sass/modules/_feed.scss */
.feed-content {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 13, ../sass/modules/_feed.scss */
.feed-user {
  color: #ef691d;
  font-weight: bold;
}

/* line 1, ../sass/modules/_calendar.scss */
.calendar-item {
  padding-bottom: 3em;
}
/* line 4, ../sass/modules/_calendar.scss */
.calendar-item::after {
  content: " ";
  display: block;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(153, 42, 7, 0.3)), color-stop(35%, rgba(153, 42, 7, 0)), color-stop(100%, rgba(153, 42, 7, 0)));
  background: -webkit-radial-gradient(rgba(153, 42, 7, 0.3), rgba(153, 42, 7, 0) 35%, rgba(153, 42, 7, 0));
  background: -moz-radial-gradient(rgba(153, 42, 7, 0.3), rgba(153, 42, 7, 0) 35%, rgba(153, 42, 7, 0));
  background: -o-radial-gradient(rgba(153, 42, 7, 0.3), rgba(153, 42, 7, 0) 35%, rgba(153, 42, 7, 0));
  background: radial-gradient(rgba(153, 42, 7, 0.3), rgba(153, 42, 7, 0) 35%, rgba(153, 42, 7, 0));
  position: absolute;
  bottom: -1em;
  height: 2.5em;
  width: 100%;
}

/* line 15, ../sass/modules/_calendar.scss */
.calendar-item-title {
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 4.75em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: .2em;
}

/* line 22, ../sass/modules/_calendar.scss */
.calendar-item-subtitle {
  color: #992a07;
  font-family: "Mission Script";
  font-size: 2.6em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  display: block;
  text-align: center;
}

/* line 28, ../sass/modules/_calendar.scss */
.calendar-item-add {
  color: #ecedde;
  text-decoration: none;
  line-height: 3em;
}

/* line 1, ../sass/modules/_gallery.scss */
.gallery {
  padding-top: 3em;
}

/* line 5, ../sass/modules/_gallery.scss */
.gallery-header {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 3em;
}

/* line 10, ../sass/modules/_gallery.scss */
.gallery-introduction {
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  padding-top: 1em;
}
/* line 15, ../sass/modules/_gallery.scss */
.gallery-introduction span {
  font-family: "Mission Script";
  text-transform: none;
}

/* line 23, ../sass/modules/_gallery.scss */
.gallery-grid > li {
  padding: 2em 2em 2em 0;
}

/* line 29, ../sass/modules/_gallery.scss */
.gallery-item {
  background-color: #ecedde;
  border-bottom: 1em solid #2d353a;
  -webkit-box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  color: #2d353a;
  position: relative;
}

/* line 37, ../sass/modules/_gallery.scss */
.gallery-item-heading {
  background-color: #2d353a;
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  padding: .5em;
  text-align: center;
}
/* line 43, ../sass/modules/_gallery.scss */
.gallery-item-featured .gallery-item-heading {
  background-color: #ef691d;
}

/* line 48, ../sass/modules/_gallery.scss */
.gallery-item-participants {
  position: absolute;
  left: -1.5em;
  top: .8em;
  width: 2.8em;
}
/* line 54, ../sass/modules/_gallery.scss */
.gallery-item-participants li {
  margin-bottom: .7em;
}

/* line 59, ../sass/modules/_gallery.scss */
.gallery-item-rating {
  background-color: #2d353a;
  border-radius: 1.6em;
  display: block;
  color: #ecedde;
  font-family: "Alternate Gothic";
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  height: 1.4em;
  line-height: 1.4em;
  padding: .6em;
  position: absolute;
  text-align: center;
  right: 1em;
  top: 3em;
  width: 1.4em;
}
/* line 73, ../sass/modules/_gallery.scss */
.gallery-item-rating span {
  font-size: .75em;
}

/* line 78, ../sass/modules/_gallery.scss */
.gallery-share-button {
  background-color: #395897;
  background-position: -8px -175px;
}

/* line 85, ../sass/modules/_gallery.scss */
.burger {
  margin: 2em auto;
  width: 100px;
}
/* line 89, ../sass/modules/_gallery.scss */
.burger::before {
  background-position: -12px -253px;
  content: " ";
  display: block;
  height: 40px;
  width: 89px;
}
/* line 98, ../sass/modules/_gallery.scss */
.burger::after {
  background-position: -127px -262px;
  content: " ";
  display: block;
  height: 28px;
  width: 93px;
}

/* line 108, ../sass/modules/_gallery.scss */
.burger-ingredient {
  margin: 0 auto;
  height: 31px;
  width: 90px;
}

/* line 6, ../sass/modules/_responsive-menu.scss */
.sidr {
  /* Default Settings */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 11em;
  overflow-x: none;
  overflow-y: auto;
  border-right-style: solid;
  border-right-width: 6px;
  border-right-color: rgba(25, 32, 36, 0.63);
  /* Theme Settings */
  color: #eceddf;
  font-family: "Alternate Gothic";
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  background: #2e353b;
  color: #eceddf;
}
/* line 22, ../sass/modules/_responsive-menu.scss */
.sidr h1 {
  background-color: #192026;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #eceddf;
  font-family: "Mission Script";
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-transform: capitalize;
}
/* line 31, ../sass/modules/_responsive-menu.scss */
.sidr footer {
  color: #eceddf;
  font-family: "Traveler";
  font-size: 0.6em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
  position: absolute;
  bottom: 10px;
  padding-left: 20px;
  text-transform: capitalize;
}
/* line 39, ../sass/modules/_responsive-menu.scss */
.sidr .sidr-inner {
  padding: 0 0 15px;
}
/* line 42, ../sass/modules/_responsive-menu.scss */
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
/* line 48, ../sass/modules/_responsive-menu.scss */
.sidr.right {
  left: auto;
  right: -11em;
}
/* line 53, ../sass/modules/_responsive-menu.scss */
.sidr.left {
  left: -11em;
  right: auto;
}
/* line 63, ../sass/modules/_responsive-menu.scss */
.sidr p {
  margin: 0 0 12px;
}
/* line 65, ../sass/modules/_responsive-menu.scss */
.sidr p a {
  color: rgba(236, 237, 223, 0.9);
}
/* line 70, ../sass/modules/_responsive-menu.scss */
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
/* line 75, ../sass/modules/_responsive-menu.scss */
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}
/* line 82, ../sass/modules/_responsive-menu.scss */
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  font-size: 1.2em;
}
/* line 87, ../sass/modules/_responsive-menu.scss */
.sidr ul li:nth-child(odd) {
  background-color: #2a3137;
}
/* line 92, ../sass/modules/_responsive-menu.scss */
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  background-color: #192026;
}
/* line 99, ../sass/modules/_responsive-menu.scss */
.sidr ul li a, .sidr ul li span {
  padding: 0 20px;
  display: block;
  text-decoration: none;
  color: #eceddf;
}
/* line 106, ../sass/modules/_responsive-menu.scss */
.sidr ul li ul {
  border-bottom: none;
  margin: 0;
}
/* line 109, ../sass/modules/_responsive-menu.scss */
.sidr ul li ul li {
  line-height: 40px;
}
/* line 112, ../sass/modules/_responsive-menu.scss */
.sidr ul li ul li:last-child {
  border-bottom: none;
}
/* line 118, ../sass/modules/_responsive-menu.scss */
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  background-color: #192026;
}
/* line 122, ../sass/modules/_responsive-menu.scss */
.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(236, 237, 223, 0.8);
  padding-left: 30px;
}
