html {
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $beige;
    font-family: $font-traveler;
    height: 100%;
}

@media only all and (max-width: 48em) {
    body {
        font-size: 81.25%;
    }
}

// Different kinds of containers

.orange {
    background-color: $orange;
    color: $beige;
}

.full-screen {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    padding-top: 4.375em;
    position: relative;
    width: 100%;
}

.gradient-background {
    @include background(radial-gradient(#f57121, #e84a0c 65%), $orange);
}

.blurry-background {
    background-image: url('../img/blurry-background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 4.375em;
}

// Typography

p {
    @include font-traveler(inherit, .9735em);
    margin-bottom: 1em;
}

// Form elements

%form-element {
    @include appearance(none);
    background-color: $beige;
    border: none;
    border-radius: 0px;
    @include box-shadow(-.2em .3em 0 rgba(0, 0, 0, .2));
    @include box-sizing(border-box);
    cursor: pointer;
    @include font-alternate($blue, 1.3em);
    width: 100%;
    &:focus{
      outline: none;
      outline: none;
    }
}

label {
    display: none;
}

.label-icon-container {
    position: relative;
    padding-bottom: .5em;
}

.label-icon {
    @extend %sprite;

    background-color: $blue;
    border-radius: 1.4em;
    @include hide-text;
    display: block;
    height: 3em;
    width: 3em;
    position: absolute;
    top: -.2em;
    right: 1em;
    z-index: 99;
}

.label-icon-dropdown {
    background-position: -55px -172px;
}

.label-icon-search {
    background-position: -95px -172px;
}

select.form-element {
    @extend %form-element;
    height: 1.7em;
    padding: .4em 1em .3em;
    position: relative;
    top: .1em;
    z-index: 9;

    &::after {
    }
}

input[type="text"].form-element {
    @extend %form-element;
    letter-spacing: .05em;
    padding: .45em 1em .25em;

    &::after {
        position: absolute;
        top: -1em;
        right: -1em;
        z-index: 999;
    }
}

.button {
    @include appearance(none);
    background-color: $orange;
    @include box-shadow(0 .1em 0 darken($orange-darkened, 10%));
    @include box-sizing(border-box);
    border: 0;
    border-radius: .3em;
    display: block;
    @include font-alternate($beige, 1.5em);
    font-weight: normal;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    text-shadow: -.1em .1em 0 rgba(0, 0, 0, .1);
    margin: 0 auto .5em;
    width: 90%;
}

.button-confirm {
    background-color: #b7b700;
    @include box-shadow(0 .1em 0 darken(#b7b700, 5%));
}

// Helper classes

.prefixed-link {
    color: $orange;
    text-decoration: none;
    @include transition(color 220ms ease-in-out);

    &:hover {
        color: lighten($orange, 10%);
    }
}

.circle-picture {
    background-position: center center;
    border: .3em solid white;
    border-radius: 1.5em;
    @include hide-text;
    height: 2.5em;
    width: 2.5em;
}