// Container element
#site-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    // height: 100%;
    // width: 100%;
}

#site {
    overflow: auto;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    width: 92%;
}

.container-small {
    width: 55%;
}

// Grid system

.column-container {
    @include pie-clearfix;
}

.column {
    @include box-sizing(border-box);
    padding-right: 2em;

    &:last-child {
        float: right;
    }
}

@media only all and (min-width: 53em) {
    .span-one-column {
        float: left;

        .has-four-columns & {
            width: 25%;
        }

        .has-three-columns & {
            width: 33%;
        }

        .has-two-columns & {
            width: 50%;
        }
    }

    .span-two-columns {
        float: left;

        .has-four-columns & {
            width: 50%;
        }

        .has-three-columns & {
            width: 66%;
        }
    }

    .span-three-columns {

        .has-four-columns & {
            width: 75%;
        }

        .has-three-columns & {
            width: 100%;
        }
    }
}