@import "compass/reset";

@import "compass";

// Font embedding!
@font-face {
    font-family: 'Traveler';
    src: url('fonts/traveller.eot');
    src: url('fonts/traveller.eot?#iefix') format('embedded-opentype'),
         url('fonts/traveller.woff') format('woff'),
         url('fonts/traveller.ttf') format('truetype'),
         url('fonts/traveller.svg#travelermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Script';
    src: url('fonts/mission-script.eot');
    src: url('fonts/mission-script.eot?#iefix') format('embedded-opentype'),
         url('fonts/mission-script.woff') format('woff'),
         url('fonts/mission-script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alternate Gothic';
    src: url('fonts/alternate.eot');
    src: url('fonts/alternate.eot?#iefix') format('embedded-opentype'),
         url('fonts/alternate.woff') format('woff'),
         url('fonts/alternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url('fonts/entypo.eot');
  src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
  url('fonts/entypo.woff') format('woff'),
  url('fonts/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "_variables";
@import "_base";

@import "_layout";

@import "modules/_site-header";
@import "modules/_site-footer";
@import "modules/_full-width-image";
@import "modules/_horizontal-slider";
@import "modules/_app-demo";
@import "modules/_feature-slider";
@import "modules/_stats";
@import "modules/_feed";
@import "modules/_calendar";
@import "modules/_gallery";
@import "modules/_responsive-menu";