#content {
    min-height: 590px;
    padding-top: 130px;
    position: relative;
    @include clearfix;
    padding-bottom: 110px;
}

h1 {
    font-family: 'Mission-Script';
    color: $blue-darkened;
    font-size: 2.5em;
}

.big-button-orange {
    font-size: 1.5em;
    background: $orange;
    @include border-radius(8px);
    width: 266px;
    display: block;
    text-align: center;
    height: 1.9em;
    line-height: 2em;
    font-family: 'Alternate Gothic';
    text-transform: uppercase;
    color: $beige;
    text-decoration: none;
    @include box-shadow(rgba(239, 76, 12, 1) 0 4px 0); 

    &:active {
        margin-top: 2px;
        @include box-shadow(rgba(239, 76, 12, 1) 0 2px 0); 
    }

    &.disabled {
        background: #c6c6c6;
        @include box-shadow(rgba(170, 170, 170, 1) 0 4px 0);

        &:active {
            margin-top: 0px;
            @include box-shadow(rgba(170, 170, 170, 1) 0 4px 0);
            cursor: pointer;
        }
    }
}

.utility-button {
    color: $beige;
    background: tint($blue-darkened, 10);
    @include box-shadow(rgba($blue-darkened, 1) 0 4px 0);
    @include border-radius(4px);
    text-decoration: none;
    padding: 4px 12px 4px 12px;

    @include transition-property(background);
    @include transition-duration(240ms);
    @include transition-timing-function(ease-out);

    span {
        position: relative;
        font-size: 2em;
        display: inline-block;
        top: 3px;
    }

    &:hover {
        background: tint($blue-darkened, 15);
    }

    &:active {
        margin-top: 2px;
        @include box-shadow(rgba($blue-darkened, 1) 0 2px 0);
    }
}

.column {
    padding-right: 0em;
}

.entypo {
    font-family: 'EntypoRegular';
}

.inline-block {
    @include inline-block;
}

.flashFailure {
    @extend %flash;
}

.flashSuccess {
    @extend %flash;
}

.container {
    height: 100% !important;
}

%flash {
    margin-top: 30px;
    height: 2.5em;
    background: #cbcbcb;
    width: 100%;
    @include border-radius(8px);

    p {
        width: 100%;
        text-align: center;
        @include font-traveler($beige, 1em);
        line-height: 2.3em;
        color: $blue-darkened;
    }
}

.hide {display: none;}